.body1{
	background-color: red;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 3%
}

.body2{
	background-color: #b9b9b9;
	margin-top: 3%;
}

.body3{
	background-color: black;
	margin: 5rem;
	margin-top: 13.5rem;
}

a{
	font-size: 2rem;
}

.btw1{
	color: white;
	font-family: 'Public Sans', sans-serif;
	text-transform: uppercase;
	font-size: 4rem;
	text-align: center; 
	opacity: 0%;
	animation: btw 5s 1;
	animation-delay: 1s;
}

.btw2{
	color:red;
}

.play{
	margin-left: 45%;
	font-family: 'Public Sans', sans-serif;
	color: white;

}


@keyframes btw{
	0%{
		opacity: 0%;
	}

	50%{
		opacity: 100%;
	}

	100%{
		opacity: 0%;
	}
}

.line{
	animation: line 5s 1;
}

@keyframes line{
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}

.lyrics1{
	margin-top: -15rem;
    color: white;
	font-family: 'Public Sans', sans-serif;
	text-transform: uppercase;
	font-size: 2.5rem;
	opacity: 0%;
	animation: lyrics1 300s infinite;
	animation-delay: 14.3s;
	animation-timing-function: step-start;
}

@keyframes lyrics1{
0%{
		opacity: 0%;
	}

	50%{
		opacity: 100%;
	}

	100%{
		opacity: 0%;
	}
}

.lyrics2{
	text-align: center;
	font-family: 'Public Sans', sans-serif;
	text-transform: uppercase;
	font-size: 2.7rem;
	margin-top: 5rem;
}


.lyrics3{
	color:red;
	font-family: 'Public Sans', sans-serif;
	text-transform: uppercase;
	margin-left: 1rem;
	font-size: 2.5rem;

}


.verse2{
	border: solid black 2px;
	width: 62%;
	height: 50rem;
	margin-left: 19%;
	animation: verse2 3s infinite;
    margin-top: 1%
    margin-bottom:.2rem;
}
    

@keyframes verse2{
	0%{
		border-color: black;
	}

	50%{
		border-color: red;
	}

	100%{
		border-color: black;
	}
}

.verse3{
	border:white solid 2px;
	margin-top: 1rem;
	margin-bottom: .2rem;
}


.color{
	animation: color 5s infinite
}

@keyframes color{
	0%{
		color: black;
	}

	50%{
		color: white;
	}

	100%{
		color: black;
	}
}


.link1{
	margin-left: 94%;

}


.link2{
	display: flex;
	flex-direction: row;
	margin-left: 19%;
	column-gap: 59rem;
}

.link3{
	color: red;
	text-transform: uppercase;
}

a{
	font-family: 'Public Sans', sans-serif;
	text-decoration: none;
	color: black;
}

a:hover{
	color: white;
}

audio{
	margin-left: 42%;
}

.one{
	animation: one 7s 1;
}

@keyframes one{
	0%{
		color: black
	}

	50%{
		color: red;
	}

	100%{
		color: black;
	}
}

.two{
	animation: two 8s 1;
	animation-delay: 4s;
}

@keyframes two{
	0%{
		color: black
	}

	50%{
		color: red;
	}

	100%{
		color: black;
	}
}

.three{
	animation: three 8s 1;
	animation-delay: 11s;
}

@keyframes three{
	0%{
		color: black
	}

	50%{
		color: red;
	}

	100%{
		color: black;
	}
}

.four{
	animation: four 8s 1;
	animation-delay: 15s;
}

@keyframes four{
	0%{
		color: black
	}

	50%{
		color: red;
	}

	100%{
		color: black;
	}
}

.five{
	animation: five 3s 1;
	animation-delay: 20s;
}

@keyframes five{
	0%{
		color: black
	}

	50%{
		color: red;
	}

	100%{
		color: black;
	}
}

.six{
	animation: six 3s 1;
	animation-delay: 22s;
}

@keyframes six{
	0%{
		color: black
	}

	50%{
		color: red;
	}

	100%{
		color: black;
	}
}

.seven{
	animation: seven 3s 1;
	animation-delay: 24s;
}

@keyframes seven{
	0%{
		color: black
	}

	50%{
		color: red;
	}

	100%{
		color: black;
	}
}

.eight{
	animation: eight 3s 1;
    animation-delay: 25s;
}

@keyframes eight{
	0%{
		color: black
	}

	50%{
		color: red;
	}

	100%{
		color: black;
	}
}

.nine{
	animation: nine 3s 1;
    animation-delay: 26s;
}

@keyframes nine{
	0%{
		color: black
	}

	50%{
		color: red;
	}

	100%{
		color: black;
	}
}

.ten{
	animation: ten 3s 1;
	animation-delay: 27s;
}

@keyframes ten{
	0%{
		color: black
	}

	50%{
		color: red;
	}

	100%{
		color: black;
	}
}

.eleven{
	animation: eleven 3s 1;
	animation-delay: 28.4s;
}

@keyframes eleven{
	0%{
		color: black
	}

	50%{
		color: red;
	}

	100%{
		color: black;
	}
}

.twelve{
	animation: twelve 9s 1;
	animation-delay: 29.3s;
}

@keyframes twelve{
	0%{
		color: black
	}

	50%{
		color: red;
	}

	100%{
		color: black;
	}
}

.first{
	animation: first 5s 1;
	animation-delay: 2s;
}

@keyframes first{
	0%{
		margin-left: 0%
	}

	50%{
		margin-left: 40%;
	}

	100%{
		margin-left: 0%;
	}
}

.second{
	animation: second 5s 1;
	animation-delay: 6.6s;
}

@keyframes second{
	0%{
		margin-left: 0%
	}

	50%{
		margin-left: 40%;
	}

	100%{
		margin-left: 0%;
	}
}

.thrid{
	animation: third 5s 1;
	animation-delay: 12.4s;
}

@keyframes third{
	0%{
		margin-left: 0%
	}

	50%{
		margin-left: 40%;
	}

	100%{
		margin-left: 0%;
	}
}

.fourth{
	animation: fourth 5s 1;
	animation-delay: 16.8s;
}

@keyframes fourth{
	0%{
		margin-left: 0%
	}

	50%{
		margin-left: 40%;
	}

	100%{
		margin-left: 0%;
	}
}

.fith{
	animation: fith 5s 1;
	animation-delay: 21s;
}

@keyframes fith{
	0%{
		margin-left: 0%
	}

	50%{
		margin-left: 40%;
	}

	100%{
		margin-left: 0%;
	}
}

.sixth{
	animation: sixth 5s 1;
	animation-delay: 22s;
}

@keyframes sixth{
	0%{
		margin-left: 0%
	}

	50%{
		margin-left: 40%;
	}

	100%{
		margin-left: 0%;
	}
}

.seventh{
	animation: seventh 5s 1;
	animation-delay: 23.4s;
}

@keyframes seventh{
	0%{
		margin-left: 0%
	}

	50%{
		margin-left: 30%;
	}

	100%{
		margin-left: 0%;
	}
}

.eighth{
	animation: eighth 13s 1;
	animation-delay: 26s;
}

@keyframes eighth{
	0%{
		margin-left: 0%
	}

	50%{
		margin-left: 40%;
	}

	100%{
		margin-left: 0%;
}

}

@media only screen and (max-width: 1700px){
	.lyrics1{
		margin-top: -24rem;
	}
}

@media only screen and (max-width: 900px) {
	.lyrics1{
		margin-top: -32rem;
	}

	.lyrics2{
		font-size: 1.5rem;
	}

}
